<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/layout">

<head>
    <title>Layout</title>
    <script
            async
            src="https://js.stripe.com/v3/buy-button.js">
    </script>
</head>
<body class="bg-light pt-5">

<!--hero section-->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div layout:fragment="content">
                <h3>Welcome everyone, we are learning stripe payment</h3>
            </div>

            <p class="my-5">
                <a href="/index" class="btn btn-primary">
                    <i class="fas fa-user-plus ml-2"></i>
                    welcome in stripe payment
                </a>
            </p>

            <button id="payNowButton">Pay </button>

            <input type="number" id="myInput" value="24444" >

            <button id="payButton">Pay Static</button>

            <p class="mt-5 text-muted" >
                    <small>Project by  <a th:href="@{https://github.com/Ankita8934}" target="_blank">Ankita Singh</a>.</small>
                </p>
            </div>
        </div>
    </div>
</section>
</body>
<script>
    document.getElementById('payNowButton').addEventListener('click', async function() {
        try {
            // Make a request to your backend API

            const response = await fetch('/paymentLink', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // Add any additional payload if needed
                body: JSON.stringify({
                }),
            });

            // Parse the response JSON
            const data = await response.json();

            // Open the Payment Link URL in a new window or redirect the user
            window.open(data.url, '_blank');
        } catch (error) {
            console.error('Error initiating payment:', error);
        }
    });

    document.getElementById('payButton').addEventListener('click', async function() {
        try {
            // Make a request to your backend API
            var amount = document.querySelector("#myInput").value;
            console.log(amount);

            const response = await fetch('/paymentStatic_amount?amount=' + amount, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // Add any additional payload if needed
                body: JSON.stringify({
                    amount:amount
                }),
            });

            // Parse the response JSON
            const data = await response.json();

            // Open the Payment Link URL in a new window or redirect the user
            window.open(data.url, '_blank');
        } catch (error) {
            console.error('Error initiating payment:', error);
        }
    });


</script>
</script>
</html>
